.navigation__title__content {
  padding: 0.6em 20px;
  display: inline-block;
  color: white;
}

.navigation {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px;
  border-style: solid;
  border-color: black;

  background-color: #272c36 !important;

  color: white !important;
}

.rs-dropdown-toggle-caret {
  top: 1.2em !important;
}

.rs-btn:hover,
.rs-nav-item-content:hover {
  background-color: #424b5c !important;
}

.navigation__title__content__logo-link {
  outline: none !important;
  text-decoration: none !important;

  color: white !important;
}

.navigation__dropbox_item {
  font-size: 1.2em !important;
  text-decoration: none !important;
  color: black !important;
}

.rs-dropdown > a {
  color: white !important;
}

.rs-dropdown > a:hover {
  background-color: #424b5c !important;
}
