/* canvas {
  border: 2px solid black;
} */

.conway-demo {
  margin: auto;
  width: 45em;
}

.conway-demo__configuration-panel {
  display: flex !important;
}

.conway-demo__configuration-panel__toolbar {
  width: 10.2em;
  margin: 1em;
}

.conway-demo__configuration-panel__slider {
  display: flex;
  flex-direction: column;
}

.conway-demo__configuration-panel__slider__label {
  height: 2em;
  margin-top: 1em;

  text-align: center;
  font-size: 0.8em;
  font-weight: bold !important;
}

.conway-demo__configuration-panel__slider__value {
  display: inline-block;
  width: 8em;
  height: 0.2em;
}

.rs-slider-bar {
  background-color: red !important;
}

.conway-demo__configuration-panel__input__born-condition {
  width: 10em !important;
  height: 2em !important;

  margin: 1em;
}

.conway-demo__configuration-panel__input__born-condition input {
  font-size: 1em !important;
}

.conway-demo__configuration-panel__input__survive-condition {
  width: 10em !important;
  height: 2em !important;

  margin: 1em;
  margin-left: 0em;
}

.conway-demo__configuration-panel__input__survive-condition input {
  font-size: 1em !important;
}

.info {
  font-size: 16px;
}

.info_demo-gif {
  width: 20em;

  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  justify-content: space-around;

  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 20px;
}

.info_demo-link {
  display: flex;
  justify-content: flex-end;
}

.info_demo-link_text {
  width: 15em;
}

.info-button {
  margin: 1em;
}

.conway {
  display: flex;
}
